<!DOCTYPE html>
<html>
  <head>
    <title>Educational registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="/css/form.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  </head>
  <body>
    <div class="main-block" id="form">
      <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <h1>Create a new card</h1>
        <p>A morden and more save way to creat your students cards.</p>
        <div class="btn-group">
          <a class="btn-item" href="/">Home</a>
        </div>
      </div>
      <!-- form -->
    </div>
    <script src="/js/form.js"></script>
  </body>
</html>